<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://iot-function-app-v73.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1f1b437d-bd70-41d3-9fc0-b87835bf0621/resourceGroups/KeyVaultIOT/providers/Microsoft.Web/sites/IoT-function-app-v73</ResourceId>
    <UserName>$IoT-function-app-v73</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://iot-function-app-v73.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>